.qualification{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    width: 80vw;
    height: 100vh;
    
}

.qualification-title{
    position: relative;
}
.qualification-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    margin-top: 30px;
    
}
.qualification-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.qualification-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.qualification-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
     /* how many containers do you want in one line */
    gap:40px;
    margin-bottom: 80px;
}

.qualification-format h3{
    font-size: 28px;
    font-weight: 600;
}

.qualification-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415ff 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.qualification-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width:300px;
}

.qualification-format:hover{
    border: 2px solid #ff00ff;
    background-image:linear-gradient(45deg,#3f0028,#582300) ;
    transform: scale(1.05);
    transition: 0.4s;
}
