.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 80px auto;
    width: 80vw;
    text-align: center;
    padding-top: 110px; /* Pushes the section down */
}

.mywork-title {
    position: relative; /* Ensures the image moves within this container */
    display: inline-block;
}

.mywork-title h1 {
    font-size: 70px;
    font-weight: 600;
    margin: 0 auto;
    display: inline-block;
}

.mywork-title img {
    position: absolute;
    top: 80%;
    /* right: -90px; Moves the image to the right */
    transform: translateY(-50%);
    width: 160px; /* Adjust as needed */
    bottom: 0;
    right: -80px;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.mywork-container img {
    width: 400px;
    height: 270px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
.mywork-card h3 {
  margin: 10px 0 5px;
  font-size: 20git add px;
  background: linear-gradient(270deg, #DF8908 50%, #B415ff 102.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.mywork-container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
}

.mywork-showmore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
    transition: 0.4s;
    cursor: pointer;
}

.mywork-showmore:hover {
    gap: 25px;
    transition: 0.4s;
}

